* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    background-color:black;
    width:100%;
}

.authentication {
    float:right;
    margin-top: 100px;
    margin-right: 100px;
}

.headerimg {
    margin-top:25px;
    height: 200px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 150px;
}

.space {
    height:10px;
    background-color:white;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  
  .navlist li a {
    display: block;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 80px;
    text-decoration: none;
    font-variant: small-caps;
  }

  .navlist li a:hover {
      color:black;
      font-weight: bold;
      background-color: #fab813;
  }

  .loginbtn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px white;
  }
  
  .loginbtn:hover {background-color: #3e8e41}
  
  .loginbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 0px white;
    transform: translateY(4px);
  }

  .registerbtn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #668cff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px white;
  }
  
  .registerbtn:hover {background-color:#5877e0}
  
  .registerbtn:active {
    background-color: #5877e0;
    box-shadow: 0 0px white;
    transform: translateY(4px);
  }

  table {
    width: 80%;
    margin: auto;
    padding: auto;
  }

  tr {
    width: 100%;
    height: 350px;
    display:flex;
    justify-content: space-around;
  }

  tr img {
    width: 175px;
    height: 250px;
  }
  
  .mov{
    width: 150px;
    height: 100px;
    text-align: center;
    margin: auto;
    padding: auto;
    color: white;
    font-weight: bolder;
  }

  body {
    background-color: rgb(29, 29, 29);
  }

  .id1 {
    margin-top: 25px;
    margin-bottom: 25px;
    display:flex;
    justify-content: space-around;
  }

  .headerTitle {
    margin: 20px;
    color: white;
    font-variant: small-caps;
  }

  .nowShowingBtn, .topRatedBtn, .upcomingBtn {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .nowShowingBtn {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid rgb(42, 97, 44);
  }
  
  .nowShowingBtn:hover {
    background-color: rgb(42, 97, 44);
    color: white;
  }

  .topRatedBtn {
    background-color: darkorange; 
    color:white ;
    border: 2px solid rgb(165, 91, 0);
  }
  
  .topRatedBtn:hover {
    background-color: rgb(165, 91, 0);
    color: white;
  }

  .upcomingBtn {
    background-color: red;
    color: white; 
    border: 2px solid rgb(165, 0, 0);
  }
  
  .upcomingBtn:hover {
    background-color: rgb(165, 0, 0);
    color: white;
  }

  .promotionsTable img {
      width: 350px;
      height: 300px;
  }

  .aboutBox {
    margin: 25px;
    padding: 25px;
    overflow-wrap: break-word;
  }

  #privacyBtn, #termsBtn {
    border: none;
    background-color: #668cff;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .profilebtn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px white;
    margin: 5px;
  }
  
  .profilebtn:hover {background-color: #3e8e41}
  
  .profilebtn:active {
    background-color: #3e8e41;
    box-shadow: 0 0px white;
    transform: translateY(4px);
  }

  .logoutbtn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #668cff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px white;
    margin: 5px;
  }
  
  .logoutbtn:hover {background-color:#5877e0}
  
  .logoutbtn:active {
    background-color: #5877e0;
    box-shadow: 0 0px white;
    transform: translateY(4px);
  }

   .showbookingbtn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: darkorange; 
    color:white ;
    border: 2px solid rgb(165, 91, 0);
    border-radius: 15px;
    box-shadow: 0 3px white;
    margin: 5px;
  }
  
  .showbookingbtn:hover {
    background-color: rgb(165, 91, 0);
    color: white;
  }
  
  .showbookingbtn:active {
    background-color: rgb(165, 91, 0);
    box-shadow: 0 0px white;
    transform: translateY(4px);
  }