<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cinemax - Booking</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/booking.css">
    </head>
<body>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'"class="registerbtn">Register</button>
    </section>
  </header>
  <script src="../js/client/jquery-3.4.1.min.js"></script>
<section class="space"></section>
<nav>
    <ul class = "navlist">
        <li><a class="active" href="/">Movies</a></li>
        <li><a href="/Cinema">Cinemas</a></li>
        <li><a href="/Promotion">Promotions</a></li>
        <li><a href="/About">About</a></li>
      </ul>
</nav>
    <h1 class = "headerTitle">Seating Plan</h1>
    <p style="margin:25px 100px 25px 100px;">You have selected <span class="movietitlespan"></span><br> at <span class="cinemanamespan"></span><br> on <span class="showdayspan"></span>,<span class="showtimespan"></span><br>Please select your seat(s):</p>
    <form method="POST" action="/">
      <table class="seatingTable">
      <tr>

      </tr>
      </table>
      <div class="stupidbtn">
        <button type = "submit" class="booknowBtn">Book Now</button>
      </div>
    </form>
    <fieldset class="legend">
      <legend style="font-size: 36px; padding: 10px; text-transform: uppercase;">Legend</legend>
      <p><img class="blackbox">&nbsp;Occupied</p>
      <p><img class="whitebox">&nbsp;Vacant</p>
      <p><img class="bluebox">&nbsp;Selected</p>
    </fieldset>
    <script src="../js/client/booking.js"></script>


</body>
</html>