<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cinemax - Booking</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script>
        </script>
    </head>
<body>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'"class="registerbtn">Register</button>
    </section>
  </header>
  <script src="../js/client/jquery-3.4.1.min.js"></script>
<section class="space"></section>
<nav>
    <ul class = "navlist">
        <li><a class="active" href="/">Movies</a></li>
        <li><a href="/Cinema">Cinemas</a></li>
        <li><a href="/Promotion">Promotions</a></li>
        <li><a href="/About">About</a></li>
      </ul>
</nav>
    <h1 class = "headerTitle">Booking</h1>
    <table class="bookingTable">
    <tr>

    </tr>
    </table>
    <script src="../js/client/booking.js"></script>

</body>
</html>