<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cinemax - Cinemas</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script>
        </script>
    </head>
<body>
<header>
        <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
        <section class="authentication">
          <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
          <button onclick="window.location.href='login.html'" class="loginbtn">Login</button>
          <button onclick="window.location.href='registration.html'"class="registerbtn">Register</button>
        </section>
      </header>
  <section class="space"></section>
  <nav>
    <ul class = "navlist">
      <li><a class="active" href="/movie">Movies</a></li>
      <li><a href="/cinema">Cinemas</a></li>
      <li><a href="/snack">Snacks</a></li>
      <li><a href="/promotion">Promotions</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
    <h1>Cinemas</h1>
</body>
</html>