<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cinemax - Movies</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script>
        </script>
    </head>
<body>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'"class="registerbtn">Register</button>
    </section>
  </header>
<section class="space"></section>
<nav>
    <ul class = "navlist">
        <li><a class="active" href="/">Movies</a></li>
        <li><a href="/Cinema">Cinemas</a></li>
        <li><a href="/Promotion">Promotions</a></li>
        <li><a href="/About">About</a></li>
      </ul>
</nav>
    <h1 class = "headerTitle">NULL</h1>
    <div class="id1">
      <button class="nowShowingBtn">Now Showing</button>
      <button class="topRatedBtn">Top Rated</button>
      <button class="upcomingBtn">Upcoming</button>
    </div>
    <table class="moviesTable">
    <tr>

    </tr>
    </table>
    <script src="../js/client/jquery-3.4.1.min.js"></script>

    <script>
      $(document).ready(function() {
        $.ajax({
          url: "/api/movies/nowShowing/1",
          method: "get",
          dataType: "json"
        })
        .done(function(data){
          $('.headerTitle').text("Now Showing")
          var counter = 0;
          $.each(data.results, function(key,value) {
            if(counter>3){
              $('.moviesTable > tbody:last-child').append("<tr><td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td></tr>")
              counter=0;
            }else{
            $('.moviesTable tr:last').append("<td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td>");
            }
              counter++;
          });
        })
        .fail(function(err) {
          console.log(err.responseText);
         });
         
        $(".nowShowingBtn").on('click',function () {
          $.ajax({
          url: "/api/movies/nowShowing/1",
          method: "get",
          dataType: "json"
        })
        .done(function(data){
          $('.headerTitle').text("Now Showing")
          $('.moviesTable').detach()
          $('.id1').after("<table class='moviesTable'><tr></tr></table>")
          var counter = 0;
          $.each(data.results, function(key,value) {
            if(counter>3){
              $('.moviesTable > tbody:last-child').append("<tr><td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td></tr>")
              counter=0;
            }else{
            $('.moviesTable tr:last').append("<td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td>");
            }
              counter++;
          });
        })
        .fail(function(err) {
          console.log(err.responseText);
         });

        });

      $(".topRatedBtn").on('click',function () {
          $.ajax({
          url: "/api/movies/topRated/1",
          method: "get",
          dataType: "json"
        })
        .done(function(data){
          $('.headerTitle').text("Top Rated")
          $('.moviesTable').detach()
          $('.id1').after("<table class='moviesTable'><tr></tr></table>")
          var counter = 0;
          $.each(data.results, function(key,value) {
            if(counter>3){
              $('.moviesTable > tbody:last-child').append("<tr><td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td></tr>")
              counter=0;
            }else{
            $('.moviesTable tr:last').append("<td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td>");
            }
              counter++;
          });
        })
        .fail(function(err) {
          console.log(err.responseText);
         });

        });

        $(".upcomingBtn").on('click',function () {
          $.ajax({
          url: "/api/movies/upcoming/1",
          method: "get",
          dataType: "json"
        })
        .done(function(data){
          $('.headerTitle').text("Upcoming")
          $('.moviesTable').detach()
          $('.id1').after("<table class='moviesTable'><tr></tr></table>")
          var counter = 0;
          $.each(data.results, function(key,value) {
            if(counter>3){
              $('.moviesTable > tbody:last-child').append("<tr><td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td></tr>")
              counter=0;
            }else{
            $('.moviesTable tr:last').append("<td><a href='/Movie?id="+value.id+"'><img src='http://image.tmdb.org/t/p/w185/"+value.poster_path+"'></a><br><div class='mov'><p class='movietitle'>"+value.title+"</p></div></td>");
            }
              counter++;
          });
        })
        .fail(function(err) {
          console.log(err.responseText);
         });

        });

      });
    </script>
</body>
</html>