<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinemax - Movies</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script>
  </script>
</head>

<body>
  <script>
    $(document).ready(function () {
      $.ajax({
        url: "/movies",
        method: "get",
        dataType: "json"
      })
      .done(function(data){
        var counter = 0;
        $.each(data, function(key,value) {
          var content = "<tr><td>";
            content.append("test");
            content.append("</tr></td>");
          if(counter>3){
            $('.moviesTable tr:last').after('<tr><td>'+"test"+'</td></tr>')
          }
          else{
            $('.moviesTable tr:last').append("<td>test</td>");
          }
          counter++;
        });
      })
    });
  </script>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'" class="registerbtn">Register</button>
    </section>
  </header>
  <section class="space"></section>
  <nav>
    <ul class="navlist">
      <li><a class="active" href="/">Movies</a></li>
      <li><a href="/Cinema">Cinemas</a></li>
      <li><a href="/Promotion">Promotions</a></li>
      <li><a href="/About">About</a></li>
    </ul>
  </nav>
  <h1>Movies ID</h1>
  <table class="moviesTable">

  </table>
</body>

</html>