<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cinemax - Movies</title>
  <link rel="stylesheet" href="../css/styles.css">

</head>

<body>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'" class="registerbtn">Register</button>
    </section>
  </header>
  
  <script src="../js/client/jquery-3.4.1.min.js"></script>
  <section class="space"></section>
  <nav>
    <ul class="navlist">
      <li><a class="active" href="/">Movies</a></li>
      <li><a href="/Cinema">Cinemas</a></li>
      <li><a href="/Promotion">Promotions</a></li>
      <li><a href="/About">About</a></li>
    </ul>
  </nav>
  <section class = "moviedetails">

    <h1 class="movietitle"></h1>
    <hr>
    <div class = "imagegroup">
      <img class="movieimage"/><br>
      <span class="movietagline"></span><br>
    </div>

    <div class = "textgroup">
      <span class="movieoverview"><span class="gold">Sypnosis: </span></span><br><br>
      <span class="movieruntime"><span class="gold">Duration: </span></span><br><br>
      <span class="moviegenre"><span class="gold">Genre(s): </span></span><br><br>
      <span class="movielanguage"><span class="gold">Languages Available: </span></span><br><br>
      <span class="movierelease"><span class="gold">Release Date: </span></span><br><br>
      <span class="movievote"><span class="gold">Cinemax Users Rating: </span></span><br><br>
      <button class="websiteBtn"><a class="moviehomepage" href=""></a></button>
    </div>
    
    <script src="../js/client/movie.js"></script>
  </section>

  <div class = "movieslots">

    <h1 class="timeslots">Purchase Tickets</h1>

    <hr>

    <ul class="cinemalist" style="list-style-type: none;">

    </ul>
    
    <ul class="timeslotlist" style="list-style-type: none;">

    </ul>

    <script src="../js/client/showtimes.js"></script>
    <link rel="stylesheet" href="../css/movie.css">
  
  </div>

</body>

</html>