<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cinemax - Profile</title>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/client/jquery-3.4.1.min.js"></script>
        <script>
          $(document).ready(function() {
          var user;
        if(sessionStorage.getItem('lid')!==null){
    
    user=JSON.parse(sessionStorage.getItem('lid'));
    $('.authentication').html("Welcome " +user.email);
    $('.authentication').append("<br><button onclick=\"location.href='/profile'\">View Profile</button>")
    $('.authentication').append("<button onclick=\"logout()\">Logout</button>");
}
$.ajax({
        url: "/api/profileDetails/"+user._id,
        method: "get",
        dataType: "json"
    }).done(
        function (data) {
                $("#fnField").append(data.firstName)
                $("#lnField").append(data.lastName)
                $("#gField").append(data.gender)
                $("#dobField").append(data.dateOfBirth)
                $("#cnField").append(data.contactNumber)
                $("#eField").append(data.email)

    }).fail(
        function(err){
          alert("error");
        }
    )
          });
function logout(){
    sessionStorage.clear();
    location.href="/"
}
        </script>
    </head>
<body>
  <header>
    <img class="headerimg" src="../resources/Cinemax_(Yellow).svg.png">
    <section class="authentication">
      <p style="color:white;text-align:center;padding:5px">Cinemax Member ?</p>
      <button onclick="window.location.href='/Login'" class="loginbtn">Login</button>
      <button onclick="window.location.href='/Register'"class="registerbtn">Register</button>
    </section>
  </header>
<section class="space"></section>
<nav>
  <ul class = "navlist">
    <li><a class="active" href="/">Movies</a></li>
    <li><a href="/Cinema">Cinemas</a></li>
    <li><a href="/Promotion">Promotions</a></li>
    <li><a href="/About">About</a></li>
  </ul>
</nav>
    <h1>Profile</h1>
    <section id="profileDetails">
      <span>First Name:</span><span id="fnField"></span>
      <span>Last Name:</span><span id="lnField"></span>
      <span>Gender:</span><span id="gField"></span>
      <span>Date of birth:</span><span id="dobField"></span>
      <span>Contact Number:</span><span id="cnField"></span>
      <span>Email:</span><span id="eField"></span>
    </section>
    <button onclick="location.href='/'"></button>
</body>
</html>